/* RESET CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #F5CF06;
    --secondary-color: #8E4106;
    --white: #FFFFFF;
    --spacedefault: 70px;
}
body{
    height: 100vh;
    background-color: #F5CF06;
    display: flex;
    flex-direction: column;
    padding-top: var(--spacedefault);
    padding-right: var(--spacedefault);
    padding-bottom: 24px;
    padding-left: var(--spacedefault);
    font-family: 'Righteous', cursive;
}
header{
    height: 48px;
}
.logo{
    display: inline-flex;
    gap: 16px;
    align-items: center;
    font-size: 32px;
    text-decoration: none;
    color: var(--secondary-color);
}
main{
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.pikachu-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    z-index: 1;
}
.title{
    position: relative;
    grid-column: 1/-1;
    place-self: end center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title__text{
    font-size: 20vw;
    color: var(--white);
}
.title__transparent{
    position: absolute;
    position: absolute;
    font-size: 27vw;
    z-index: -1;
    transform: translateY(-30%);
    color: #FFFFFF55;
}
.description{
    grid-column: 1/7;
    place-self: center start;
    color: var(--secondary-color);
    z-index: 1;
}
.description__title{
    font-size: 4rem;
}
.description__text{
    font-size: 1.2rem;
}
.action{
    grid-column: 7/-1;
    place-self: center end;
    width: 411px;
    height: 100px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 3rem;
    text-decoration: none;
}
footer{
    font-size: 1rem;
    text-align: center;
    color: var(--secondary-color);
}
@media (max-width: 960px) {
    :root{
        --spacedefault: 30px;
    }
    main{
        grid-template-columns: 1fr;
    }
    .pikachu-image{
        transform: translate(-50%, -60%);
    }
    .title{
        place-self: start center;
        transform: translateY(10%);
    }
    footer{
        display: none;
    }
    .description{
        grid-row: 2;
        grid-column: 1;
        place-self: center;
    }
    .action{
        grid-row: 2;
        grid-column: 1;
        place-self: end center;
    }
}